body {
  background-color: #ffffff;
  box-sizing: border-box;
}

.App {
  max-width: 1450px;
  margin: 0 auto;
  background-color: #cccccc;
}

.App__Content {
  display: flex;
  padding: 20px;
  flex-direction: column-reverse;
}

.App__Content .Cart {
  display: flex;
  flex: .5;
}


@media all and (min-width: 1024px) {
  .App__Content {
    flex-direction: row;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) { }

@media all and (min-width: 480px) and (max-width: 768px) { }

@media all and (max-width: 480px) { }



/* NORMALIZE */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
  border:none;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;

}
